.body{
    width: 80%;
    margin: auto;
    background-color: rgba(0, 247, 255, 0.68);
    
}

.body__header {
    text-align: center;
}


.header__titre {
    text-transform: uppercase;
}


.header__image {
    max-width: auto;
} 

.body__main{
    margin: 2%;
   
}
.main__section--cachee {
    display: none;
}